*{
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    flex-wrap: wrap;
    background-color: #f96d00;
    /* border: 1px solid black; */
    color: #222831;
    font-weight: 200;
    position: fixed;
}
.college{
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
nav a{
    text-decoration: none;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}
a:visited{
    color: black;
}
.fix{
    color: black;
}
.sub h1{
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}
.chapters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0%;
}
.chapters p{
   text-align: center;
    color: #222831;
    font-size: 1.2rem;
    font-family:cursive;
    font-weight: 200;
}
.intro{
    width: 100%;
    height: 100vh;
    background-color: #393e46;
    margin-top: 0rem;
}
/* sunject chapter */
.sub{
    width: 100%;
    height: 100vh;
}
.sub a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}
.text{
    text-align: center;
    margin-top: 2vh;
    font-size: 1rem;
}
.card{
    margin: 1rem 1rem 0;
}
img{
    width: 250px;
    height: 200px;
}
.memo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.me{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("group.jfif");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.memo a{
    text-decoration: none;
    border: none;
}
.achive{
    background-color: #feffef;
}
.memo .t{
    font-size: 5rem;
    color: #fefefe;
    text-align: center;
    /* margin-top: 1rem; */
}
.achive .t{
    color: #393e46;
}
h4{
    border: none;
}
.memo .bot{
    background-image: linear-gradient(90deg,#00dbde 0%,#fc00ff 100%);
    font-size: 2rem;
    width: 12rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: #fefefe;
}
@media (max-width: 600px) {
    .memo h1{
        font-size: 4rem;
    }
    .achive h1{
        font-size: 3rem;
    }
    .bot{
        margin-top: 3rem;
    }
    .college{
        font-size: .8rem;
        font-weight: bold;
        width: 10rem;
    }
    .chapters p{
        font-size: .8rem;
    }
    img{
        width: 150px;
        height: 100px;
    }
    .card{
        margin-top: 3rem;
    }
    .text{
        font-size: .6rem;
        margin: 10px 0px;
    }
}